

body {
  margin: 0;
  padding: 0;
}

header{
  background-color: #145DA0;
}

.nav-item{
  list-style: none;
}

#Home {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 6rem;
}

#Home:hover{
  transform: scale(1.1);
}

.navbar{
  font-family: Roboto,sans-serif;
  min-height: 70px;
  display: flex;
  align-items: center;
  margin-left: 13rem;
}

.nav-menu{
  display: flex;
  align-items: center;
  gap: 6rem;
}

.nav-link{
  text-decoration: none;
  transition: 0.3s ease;
  color: white;
  font-size: 1.4rem
}

.nav-link:hover{
  color: #B1D4E0;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.personal-photo {
  width: 35%;
  float: left;
  text-align: center;
  margin-right: 1rem;
  margin-left: 5rem;
  margin-top: 5rem;
}

#ph {
  width: 100%;
  height: auto;
  border-radius: 50%;
  width: 300px;
}

.photo-title {
  font-family: Montserrat,sans-serif;
  font-weight: 300;
  color: black;
  margin-bottom: 0.5rem;
  font-size: 2.3rem;
  text-align: center;
}

.photo-title2 {
  color: darkgray;
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
}

.photo-title3 {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1.3rem;
}

.uni {
  display: inline-block;
  color: #2E8BC0;
  text-decoration: none;
}

.uni:hover{
  transform: scale(1.1);
  font-weight: bold;
}

h2{
  font-family: Montserrat,sans-serif;
  font-weight: 300;
}


.personal-info {
  width: 55%;
  float: left;
  margin-top: 4rem;
  margin-left: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #333;
  line-height: 1.8rem;
}

.personal-info h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #145DA0;
}

.skill {
  width: 55%;
  float: left;
  margin-top: 1rem;
  margin-left: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #333;
  line-height: 1.8rem;
}

.skill h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #145DA0;
}

.skill h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #145DA0;
}

.lang {
  columns: 2;
}

.logo{
  list-style: none;
  text-align: center;
  padding: 0;
}

.logo li {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.logo img{
  width: 40px;
  height: 40px;
}

.logo img:hover {
  transform: scale(1.1);
}







.Edu {
  width: 45%;
  float: left;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #333;
  line-height: 1.8rem;
  margin-left: 8rem;
  margin-top: 2rem;
}

.Edu h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.inte {
  width: 30%;
  float:left;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #333;
  line-height: 1.8rem;
  margin-left: 6rem;
  margin-top: 2rem;
}

.inte h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.exp {
  width: 80%;
  float:left;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #333;
  line-height: 1.8rem;
  margin-left: 8rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.exp h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.bt{
  margin-top: 0;
}
.btt{
  margin-bottom: 0;
}







.pro {
  width: 80%;
  float:left;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #333;
  line-height: 1.8rem;
  margin-left: 8rem;
  margin-top: 2rem;
}

.pro h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.bt-pro{
  margin: 0;
}

.btt-pro{
  margin-bottom: 0;
}

.pub {
  width: 80%;
  float:left;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #333;
  line-height: 1.8rem;
  margin-left: 8rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.pub h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}








.Ach {
  width: 80%;
  float: left;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #333;
  line-height: 1.8rem;
  margin-left: 8rem;
  margin-top: 2rem;
}

.Ach h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}


@media only screen and (max-width: 1023px) {
  .photo-title {
    font-size: 2rem;
  }

  .photo-title2 {
    font-size: 0.9rem;
  }

  .photo-title3 {
    font-size: 1rem;
  }

  .personal-photo{
    width: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 0;
    padding-right: 0;
  }

  .personal-info, .skill{
    font-size: 0.9rem;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
  }

  .skill{
    margin-bottom: 5rem;
  }

  .personal-info h2,.skill h2{
    font-size: 1.2rem;
  }
  .skill h3{
    font-size: 0.9rem;
  }

  .personal-info h2, .personal-info p{
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .skill h2, .skill h3, .skill ul{
    margin-left: 2rem;
    margin-right: 2rem;
  }

  hr{
    width: 95%;

  }

  .lang {
    columns: 1;
  }

  .Edu{
    font-size: 0.9rem;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5rem;
  }

  .inte, .exp{
    font-size: 0.9rem;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
  }

  .Edu h2, .inte h2, .exp h2{
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .Edu p, .inte p, .exp p{
    margin-right: 2rem;
  }

  .Ach{
    font-size: 0.9rem;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5rem;
  }

  .Ach h2{
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .Ach p{
    margin-right: 2rem;
  }


  .pro, .pub{
    font-size: 0.9rem;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .pro h2, .pub h2{
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .pro p, .pub p{
    margin-right: 2rem;
  }

  .leftt{
    margin-left: 0;
    margin-right: 0;
  }

  #ph{
    width: 225px;
  }

  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    justify-content: space-between;
    margin-top: 0;
    padding-left: 0;
    position:fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #145DA0;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }

  .navbar{
    justify-content: space-between;
    padding: 0 24px;
    margin-left: 0;

  }


}
